/* *{
    background-color: rgb(83, 73, 73);
} */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");

.main{
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    padding: 10px 5px 10px 5px;
    align-self: center;
    background-color: rgb(187, 186, 186);
    padding-left: 5%;
    padding-top: 1%;
    padding-right: 5%;
    padding-bottom: 1%;

}

.rightSignup{
    width: 40%;
    padding: 2rem;
    font: 500 100%/1.5 system-ui;
    background-color: white;
    border-radius:10px;
    
}

.headline, .login, span{
    text-align: center;
}

.no-border{
    border: none;
}

.evalid, #togglePassword{
    float: right;
}
.submit{
    display: flex;
    justify-content: center;
    background-color: blue;
    color: white;
    width: 90%;
    height: 35px;

}
  
#or, #google{
    text-align: center;
}
@media (max-width: 650px) {
    .main {
      flex-direction: column;
    }
    .rightSignup,
    .leftside {
      width: 100%;
    }
  }
  .google-icon {
    font-family: 'Material Icons';
    font-size: 24px;
    color: #4285F4; /* Google's primary color */
    margin-right: 5px;
    vertical-align: middle;
  }

.leftside{
    width: 60%;
    padding: 2rem;
    font: 500 100%/1.5 system-ui;
    text-align: center;
    background-color: rgb(187, 187, 186);

}
#img{
    width:100%;
    height: 70%;
    display: block;
    object-fit: cover;

}
  